/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');




/* common utilities */
body {
    font-family: 'Poppins', sans-serif;
}




/* header section start */
/* banner section start */
.item-1 {
    background: url(./images/cover/cover-1.png) rgba(29, 29, 29, 0.7) ;
    background-blend-mode: multiply;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.item-2 {
    background: url(./images/cover/cover-2.jpg) rgba(29, 29, 29, 0.7) ;
    background-blend-mode: multiply;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.item-3 {
    background: url(./images/cover/cover-3.jpg) rgba(29, 29, 29, 0.7) ;
    background-blend-mode: multiply;
    /* height: 100vh; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* banner section end */
/* header section end */




/* main section start */
/* feedback section start */
.carousel-control-prev {
    background-color: gray;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    left: -2%;
}
.carousel-control-next {
    background-color: gray;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: -2%;
}
/* feedback section end */
/* main section end */




/* footer section start */
.fa-brands {
    color: white;
    font-size: 20px;
    background-color: gray;
    border-radius: 50%;
}
.fa-facebook-f {
    padding: 9px 12px;
}
.fa-twitter, .fa-tiktok {
    padding: 9px 9px;
}
.fa-linkedin-in {
    padding: 9px 10px;
}
/* footer section end */